@charset "UTF-8";
/* ---------------Specification------------------ */
@font-face {
  src: url("../fonts/Roboto-Light.ttf");
  font-family: 'Roboto-Light'; }
@font-face {
  src: url("../fonts/Roboto-Bold.ttf");
  font-family: 'Roboto-Bold'; }
@font-face {
  src: url("../fonts/Roboto-Medium.ttf");
  font-family: 'Roboto-Medium'; }
@font-face {
  src: url("../fonts/Roboto-Regular.ttf");
  font-family: 'Roboto-Regular'; }
@font-face {
  src: url("../fonts/Roboto-Thin.ttf");
  font-family: 'Roboto-Thin'; }
@font-face {
  src: url("../fonts/Ubuntu-Light.ttf");
  font-family: 'Ubuntu-Light'; }
@font-face {
  src: url("../fonts/Ubuntu-Light.ttf");
  font-family: 'Ubuntu-Medium'; }
html {
  font-size: 10px; }

* {
  margin: 0;
  padding: 0;
  transition: all 500ms ease; }

.container {
  max-width: 1208px;
  margin: 0 auto;
  padding-left: 4px;
  padding-right: 4px; }

input:focus::-webkit-input-placeholder {
  color: transparent; }

textarea:focus::-webkit-input-placeholder {
  color: transparent; }

.answers::before, .answers::after {
  content: '';
  display: block;
  width: 50%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  z-index: -1; }

/* ------------------Header------------------ */
.header {
  display: block;
  background-image: url("../img/car-bcg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  max-width: 100%;
  box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.4);
  padding-top: 64px;
  position: relative; }
  .header__box {
    display: flex;
    justify-content: center; }
  .header__auto-expert {
    display: flex;
    color: #fff;
    background-color: #ff5500;
    font-family: "Ubuntu-Medium";
    text-transform: uppercase;
    font-size: 2rem;
    padding: 26px 49px;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-basis: 1%;
    position: absolute;
    top: 42px; }
  .header__content {
    padding-top: 15%;
    width: 61%; }
  .header__title {
    font-family: "Roboto-Bold";
    font-size: 6.8rem;
    text-shadow: -1px 3px 5px #333436;
    text-transform: uppercase;
    color: #fff; }
    .header__title--orange {
      color: #ff5500; }
  .header__input {
    font-family: "Roboto-Regular";
    color: #fff;
    font-size: 1.3rem; }

.contact {
  min-width: 100%;
  height: 52px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  position: relative;
  padding-right: 76px; }
  .contact__data {
    font-family: "Ubuntu-Light";
    color: #5e5e5e;
    font-size: 1.6rem;
    text-decoration: none;
    margin-right: 45px; }
  .contact__data-icon {
    display: block;
    margin-right: 15px; }
  .contact__social {
    text-decoration: none;
    color: #fff;
    font-size: 2rem;
    text-shadow: #ff6010 1px 1px, #ff6010 -1px -1px, #ff6010 -1px 1px,  #ff6010 1px -1px;
    padding-left: 40px; }
  .contact__social:nth-child(3) {
    color: #ff6010;
    text-shadow: none; }

.contact::before {
  content: '';
  background-color: #fff;
  width: 30px;
  height: 100%;
  position: absolute;
  left: -30px; }

.contact::after {
  content: '';
  background-color: #fff;
  width: 30px;
  height: 100%;
  position: absolute;
  right: -30px; }

/* ------------------Percent------------------ */
.percent, .order {
  display: block;
  background-image: url("../img/car-bcg-2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.4);
  padding-top: 100px;
  padding-bottom: 100px; }
  .percent__box {
    display: flex;
    justify-content: space-between; }
  .percent__item {
    color: #fff;
    font-size: 9.4rem;
    text-align: center; }
  .percent__discount {
    font-family: "Ubuntu-Medium";
    font-weight: 900; }
    .percent__discount--span {
      font-family: "Ubuntu-Light";
      font-weight: normal; }
  .percent__input {
    font-family: "Ubuntu-Light";
    font-size: 1.7rem;
    text-transform: capitalize; }

/* ------------------Title-content------------------ */
.title-content__title {
  color: #343434;
  font-family: "Roboto-Medium";
  font-size: 2rem;
  text-transform: uppercase; }
  .title-content__title--center {
    text-align: center; }
.title-content__borders {
  color: #ff5500;
  width: 100px;
  height: 2px;
  border-top: 2px solid #ff5500;
  border-bottom: 2px solid #ff5500;
  margin-top: 6px;
  margin-bottom: 19px; }
  .title-content__borders--center {
    display: flex;
    justify-content: center;
    margin-top: 11px; }
.title-content__text {
  color: #343434;
  font-family: "Roboto-Thin";
  font-size: 1.4rem; }

/* ---------------------Save--------------------- */
.save {
  padding-bottom: 25px;
  /* Left part */
  /* Form, right part */ }
  .save__box {
    display: flex;
    justify-content: space-between; }
    .save__box--left {
      flex-basis: 70%;
      padding-top: 25px; }
  .save__text {
    font-family: "Roboto-Thin";
    font-size: 1.4rem;
    padding-top: 30px; }
  .save__content {
    display: flex;
    justify-content: space-around;
    padding-top: 55px; }
  .save__item {
    display: flex;
    flex-direction: column;
    flex-basis: 30%; }
  .save__icon-box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ff5500;
    border-radius: 50%;
    height: 66px;
    width: 66px; }
  .save__icon {
    font-size: 3rem;
    color: #fff; }
  .save__paragraph {
    font-family: "Roboto-Regular";
    font-size: 2rem;
    color: #343434;
    text-transform: capitalize;
    padding-top: 26px; }
  .save__input {
    font-family: "Roboto-Thin";
    font-size: 1.4rem;
    color: #343434;
    padding-top: 18px; }
  .save__img {
    position: absolute;
    right: -115px;
    top: -35px; }
  .save__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    width: 312px;
    position: relative;
    flex-shrink: 0;
    box-sizing: border-box; }
    .save__form--box {
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: #ff5500;
      width: 100%; }
  .save__form-title {
    font-family: "Roboto-Bold";
    font-size: 2rem;
    color: #fff;
    background-color: #ff5500;
    text-transform: uppercase;
    padding-top: 24px;
    padding-bottom: 18px; }
  .save__form-text {
    font-family: "Roboto-Thin";
    font-size: 1.5rem;
    color: #fff;
    background-color: #ff5500;
    text-transform: capitalize;
    padding-bottom: 28px; }
  .save__form-arrow {
    width: 0;
    border: 156.8px solid transparent;
    border-top: 44px solid #ff5500;
    background-color: #fff;
    position: absolute;
    top: 112px;
    z-index: -1; }
  .save__form-data {
    font-family: "Ubuntu-Light";
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; }
  .save__form-input {
    font-family: "Ubuntu-Light";
    font-size: 1.2rem;
    color: #343434;
    border: 2px solid #d7d7d7;
    border-radius: 4px;
    text-transform: uppercase;
    outline: none;
    box-sizing: border-box;
    padding: 10px 0 10px 30px;
    width: 80%;
    margin-bottom: 25px; }
  .save__form-input:nth-child(2) {
    margin-top: 130px;
    margin-bottom: 32px; }
  .save__form-button {
    font-family: "Ubuntu-Light";
    font-size: 1.47rem;
    color: #fff;
    background-color: #ff5500;
    text-transform: uppercase;
    outline: none;
    width: 100%;
    border: none;
    box-sizing: border-box;
    padding: 16px 0;
    cursor: pointer; }

/* ---------------------Service--------------------- */
.service {
  background-color: #ebebeb;
  padding-top: 22px;
  padding-bottom: 56px; }
  .service__content {
    display: flex;
    justify-content: space-between;
    padding-top: 60px; }
  .service__item {
    flex-basis: 29%;
    background-color: #fff;
    box-shadow: 0 2px 5px #acadaf;
    padding-bottom: 36px; }
  .service__img {
    display: flex;
    justify-content: center; }
  .service__title {
    font-family: "Roboto-Medium";
    font-size: 1.8rem;
    color: #343434;
    text-transform: uppercase;
    border-left: 2px solid #ff5500;
    box-sizing: border-box;
    padding: 5px;
    margin-bottom: 35px; }
    .service__title--box {
      margin-left: 5%;
      margin-top: 3%; }
  .service__input {
    font-family: "Roboto-Light";
    font-size: 1.4rem;
    color: #5e5e5e;
    margin-bottom: 40px; }
    .service__input--box {
      margin: 0 3% 0 7%; }
  .service__link, .answers__right-link {
    display: flex;
    font-family: "Roboto-Light";
    font-size: 1.2rem;
    color: #fff;
    text-transform: uppercase;
    background-color: #ff5500;
    box-sizing: border-box;
    border-radius: 3px;
    padding: 17px 63px 17px 68px;
    text-decoration: none; }
    .service__link--box {
      display: flex;
      justify-content: flex-end;
      margin-right: 3%; }

/* -------------------Answers------------------- */
.answers {
  padding-top: 30px;
  padding-bottom: 50px;
  position: relative; }
  .answers::before {
    background-image: url("../img/car-bcg-3-orange.png");
    box-shadow: inset 0 0 0 2000px rgba(255, 121, 54, 0.705);
    left: 0%; }
  .answers::after {
    background-image: url("../img/car-bcg-4-white.png");
    box-shadow: inset 0 0 0 2000px rgba(184, 184, 184, 0.7);
    right: 0%; }
  .answers .container {
    display: flex;
    justify-content: center; }
  .answers__box {
    display: flex;
    flex-basis: 80%;
    align-items: flex-end; }
    .answers__box--right {
      padding-left: 15%; }
  .answers__left-box {
    width: 85%;
    display: flex;
    flex-direction: column;
    align-items: flex-end; }
  .answers__left-title {
    font-family: "Roboto-Medium";
    font-size: 2rem;
    color: #fff;
    text-transform: uppercase;
    padding: 40px 0;
    /* margin-right: 25%; */ }
  .answers__left-content {
    width: 70%; }
  .answers__left-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    background-color: #fff;
    margin-bottom: 27px;
    padding: 0 8px 0 12px; }
    .answers__left-item:nth-child(4) {
      margin-bottom: 0; }
  .answers__left-question, .answers__right-title {
    font-family: "Roboto-Regular";
    font-size: 1.8rem;
    color: #343434; }
  .answers__left-plus {
    font-family: "Roboto-Regular";
    font-size: 3.1rem;
    color: #343434;
    text-decoration: none; }
  .answers__right-box {
    display: flex;
    flex-basis: 40%;
    padding-top: 20px;
    padding-bottom: 37px;
    background-color: rgba(255, 255, 255, 0.6); }
  .answers__right-content {
    width: 60%;
    padding-left: 5%; }
  .answers__right-title {
    padding-bottom: 19px; }
  .answers__right-text {
    font-family: "Roboto-Regular";
    font-size: 1.3rem;
    color: #343434;
    padding-bottom: 44px;
    width: 89%; }
  .answers__right-link {
    padding: 16px 40px;
    display: inline-flex;
    text-align: center; }

/* -------------------Check------------------- */
.check {
  margin-top: 30px;
  margin-bottom: 30px; }
  .check__box {
    margin-top: 56px;
    border: #ff8447 3px solid;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 90px;
    position: relative;
    margin-right: 100px;
    margin-left: 100px;
    z-index: -2; }
    .check__box:after {
      content: '';
      display: block;
      background-image: url("../img/auto-center.png");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      position: absolute;
      top: -40px;
      bottom: 0;
      right: 0;
      left: 0;
      z-index: -1; }
  .check__item {
    flex-basis: 33.34%; }
    .check__item:nth-child(1) {
      margin-top: 40px;
      margin-bottom: 14%; }
    .check__item:nth-child(2) {
      margin-top: 40px;
      margin-bottom: 14%; }
  .check__title {
    font-family: "Roboto-Medium";
    font-size: 2rem;
    text-transform: uppercase;
    /* white-space: nowrap; */
    /* не даёт тексту перейти на новую строку */ }
    .check__title--box-left {
      border-left: 2px solid #ff5500;
      box-sizing: border-box;
      padding-left: 1%;
      padding-bottom: 1.5%;
      margin-left: 17%; }
    .check__title--box-right {
      text-align: right;
      border-right: 2px solid #ff5500;
      box-sizing: border-box;
      padding-right: 1%;
      padding-bottom: 1.5%;
      margin-right: 17%; }
  .check__input {
    margin-top: 16px;
    font-family: "Roboto-Light";
    font-size: 1.4rem; }
    .check__input--box {
      width: 69%; }
      .check__input--box-left {
        margin-left: 17%; }
      .check__input--box-right {
        margin-right: 17%;
        padding-left: 11%; }

/* -------------------Order------------------- */
.order {
  padding-top: 46px;
  padding-bottom: 57px; }
  .order__content {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .order__title, .order__text {
    font-family: "Roboto-Regular";
    font-size: 4.5rem;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 30px; }
  .order__text {
    font-size: 1.4rem;
    text-transform: none;
    width: 49%;
    padding-bottom: 39px; }
  .order__clock--full {
    display: block; }
  .order__clock--adaptive {
    display: none; }
  .order__clock--adaptive--320 {
    display: none; }
  .order__form {
    display: flex;
    justify-content: center;
    margin-top: 55px; }
    .order__form-input {
      box-sizing: border-box;
      color: #5e5e5e;
      font-family: "Roboto-Light";
      font-size: 1.2rem;
      text-transform: uppercase;
      padding: 14px 0px 14px 20px;
      border-radius: 3px;
      width: 337px;
      outline: none;
      border: none; }
      .order__form-input:nth-child(4) {
        margin-right: 42px;
        margin-left: 42px; }
    .order__form-button {
      box-sizing: border-box;
      color: #fff;
      background-color: #ff5500;
      padding: 13.4px 97px;
      text-transform: uppercase;
      border-radius: 3px;
      outline: none;
      border: none;
      cursor: pointer; }

#timer-text-e2064b1707bfb07cd12565fff709da0b-secundes, #timer-text-e2064b1707bfb07cd12565fff709da0b-minutes, #timer-text-e2064b1707bfb07cd12565fff709da0b-hours, #timer-text-e2064b1707bfb07cd12565fff709da0b-days {
  text-transform: uppercase; }

#timer-text-9e2b6edf6c588fb96d1af8d09e834443-secundes, #timer-text-9e2b6edf6c588fb96d1af8d09e834443-minutes, #timer-text-9e2b6edf6c588fb96d1af8d09e834443-hours, #timer-text-9e2b6edf6c588fb96d1af8d09e834443-days {
  text-transform: uppercase; }

/* -------------------Testimonials------------------- */
.testimonials {
  padding-top: 50px;
  padding-bottom: 50px; }
  .testimonials__slick {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-top: 11px; }
    .testimonials__slick-img {
      border-radius: 50%;
      border: 6px solid #ff5500; }
      .testimonials__slick-img--center {
        display: flex;
        justify-content: center; }
    .testimonials__slick-icon {
      display: flex;
      justify-content: center;
      font-size: 4rem;
      color: #ff5500;
      margin-top: 10px;
      margin-bottom: 10px; }
    .testimonials__slick-input {
      font-family: "Roboto-Light";
      font-size: 1.5rem;
      color: #5e5e5e;
      width: 50%; }
      .testimonials__slick-input--center {
        text-align: center;
        display: flex;
        justify-content: center; }
    .testimonials__slick-name {
      display: flex;
      justify-content: center;
      font-family: "Roboto-Regular";
      font-size: 1.8rem;
      color: #ff5500;
      text-transform: uppercase;
      margin-top: 28px; }

/* -------------------Footer------------------- */
.footer {
  padding-top: 40px;
  padding-bottom: 50px;
  color: #fff;
  background-color: #313131; }
  .footer__title {
    font-family: "Ubuntu-Medium";
    font-size: 2.4rem;
    text-transform: uppercase;
    padding-bottom: 26px; }
  .footer__input {
    font-family: "Ubuntu-Light";
    font-size: 1.2rem; }

/* -------------------Adaptive------------------- */
@media screen and (max-width: 1494px) {
  .contact::after {
    content: none; }
  .contact::before {
    content: none; }
  .contact__box--left {
    display: flex;
    flex-direction: column;
    line-height: 23px;
    padding-left: 30px; }

  .save__form {
    margin-right: 10%; } }
@media (max-width: 1245px) {
  .service__content {
    flex-wrap: wrap;
    justify-content: center; }
  .service__item {
    flex-basis: 51%;
    margin-bottom: 30px; }
    .service__item:last-child {
      margin-bottom: 0; }
  .service__img {
    padding-top: 30px; } }
@media (max-width: 1000px) {
  .check__box::after {
    background-size: 90%; }

  .percent__box {
    flex-wrap: wrap;
    justify-content: space-around; }
  .percent__item {
    flex-basis: 40%; }
    .percent__item:nth-child(1) {
      margin-bottom: 30px; }

  .save__box {
    flex-wrap: wrap; }
    .save__box--left {
      flex-basis: 100%; }
  .save__form {
    margin: 0 auto;
    margin-top: 80px; }

  .answers::before {
    width: 100%; }
  .answers::after {
    display: none; }
  .answers .container {
    flex-wrap: wrap; }
  .answers__box {
    flex-basis: 100%; }
    .answers__box--right {
      padding-left: 10%;
      padding-right: 10%; }
  .answers__left-box {
    width: 100%;
    align-items: center;
    margin-bottom: 40px; }
  .answers__left-title {
    margin-right: 0; }
  .answers__right-text {
    width: 130%; }

  .order__clock--full {
    display: none; }
  .order__clock--adaptive {
    display: block; } }
@media (max-width: 789px) {
  .header__auto-expert {
    top: 54px;
    left: 3%;
    padding: 25px 38px; }
  .header__content {
    width: auto; }

  .contact {
    height: 80px;
    padding-right: 0;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
    padding-left: 37%; }
    .contact__data {
      margin-right: 0; }
    .contact__box--left {
      padding-left: 0; }
    .contact__box--right {
      margin-top: 7px; }
    .contact__social:first-child {
      padding-left: 0; }

  .percent__item {
    flex-basis: 100%;
    margin-bottom: 30px; }

  .save__content {
    flex-wrap: wrap; }
  .save__input {
    text-align: center; }
  .save__item {
    flex-basis: 100%;
    align-items: center;
    margin-bottom: 20px; }
  .save__form {
    margin: 0;
    margin-top: 80px; }

  .service__item {
    flex-basis: 100%; }

  .answers__left-content {
    width: 100%; }
  .answers__box--right {
    padding-left: 0;
    padding-right: 0; }

  .check__box {
    margin-right: 0;
    margin-left: 0;
    padding-bottom: 0;
    z-index: 1; }
    .check__box::after {
      content: none; }
  .check__item {
    flex-basis: 100%;
    margin-top: 40px;
    margin-bottom: 14%; }
  .check__input--box-left {
    padding-right: 11%; }
  .check__input--box-right {
    padding-left: 17%; }

  .order__text {
    width: auto; }
  .order__form {
    flex-direction: column; }
    .order__form-input {
      width: auto;
      margin-bottom: 20px; }
      .order__form-input:nth-child(4) {
        margin-right: 0;
        margin-left: 0; } }
@media (max-width: 480px) {
  .save__img {
    display: none; } }
@media (max-width: 420px) {
  .header__auto-expert {
    display: none; }
  .header__title {
    font-size: 3.8rem; }

  .contact {
    padding-left: 0; }

  .save__form {
    width: 285px; }
    .save__form-arrow {
      border: 142.8px solid transparent;
      border-top: 44px solid #ff5500; }

  .service__img {
    padding-top: 0; }
    .service__img--adapt {
      max-width: 100%; }

  .order__clock--adaptive {
    display: none; }
  .order__clock--adaptive--320 {
    display: block; } }

/*# sourceMappingURL=style.css.map */
