/* ---------------Specification------------------ */
@font-face{
	src: url('../fonts/Roboto-Light.ttf');
	font-family: 'Roboto-Light';
}
$r-l:'Roboto-Light';
@font-face{
	src: url('../fonts/Roboto-Bold.ttf');
	font-family: 'Roboto-Bold';
}
$r-b:'Roboto-Bold';
@font-face{
	src: url('../fonts/Roboto-Medium.ttf');
	font-family: 'Roboto-Medium';
}
$r-m:'Roboto-Medium';
@font-face{
	src: url('../fonts/Roboto-Regular.ttf');
	font-family: 'Roboto-Regular';
}
$r-r:'Roboto-Regular';
@font-face{
	src: url('../fonts/Roboto-Thin.ttf');
	font-family: 'Roboto-Thin';
}
$r-t:'Roboto-Thin';
@font-face{
	src: url('../fonts/Ubuntu-Light.ttf');
	font-family: 'Ubuntu-Light';
}
$u-l:'Ubuntu-Light';
@font-face{
	src: url('../fonts/Ubuntu-Light.ttf');
	font-family: 'Ubuntu-Medium';
}
$u-m:'Ubuntu-Medium';
html{
	font-size: 10px;
}
*{
	margin: 0;
    padding: 0;
    transition: all 500ms ease;	
}
.container{
	max-width: 1208px;
	margin: 0 auto;
	padding-left: 4px;
	padding-right: 4px;
}
input:focus::-webkit-input-placeholder{
	color: transparent;
}
textarea:focus::-webkit-input-placeholder{
	color: transparent;
}
$orange: #ff5500;
$black: #343434;
$gray: #5e5e5e;
%bcg-base{
	content: '';
	display: block;
	width: 50%;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	position: absolute;
	height: 100%;
	top: 0;
	bottom: 0;
	z-index: -1;
}
/* ------------------Header------------------ */
.header{
	display: block;
	background-image: url('../img/car-bcg.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 100vh;
	max-width: 100%;
	box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.4);
	padding-top: 64px;
	position: relative;
	&__box{
		display: flex;
		justify-content: center;
	}
	&__auto-expert{
		display: flex;
		color: #fff;
		background-color: $orange;
		font-family: $u-m;
		text-transform: uppercase;
		font-size: 2rem;
		padding: 26px 49px;
		justify-content: center;
		align-items: center;
		text-align: center;
		flex-basis: 1%;
		position: absolute;
		top: 42px;
	}
	&__content{
		padding-top: 15%;
		width: 61%;
	}
	&__title{
		font-family: $r-b;
		font-size: 6.8rem;
		text-shadow: -1px 3px 5px #333436;
		text-transform: uppercase;
		color: #fff;
		&--orange{
			color: $orange;
		}
	}
	&__input{
		font-family: $r-r;
		color: #fff;
		font-size: 1.3rem;
	}
}
.contact{
	min-width: 100%;
	height: 52px;
	background-color: #fff;
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-sizing: border-box;
	position: relative;
	padding-right: 76px;
	&__data{
		font-family: $u-l;
		color: $gray;
		font-size: 1.6rem;
		text-decoration: none;
		margin-right: 45px;
	}
	&__data-icon{
		display: block;
		margin-right: 15px;
	}
	&__social{
		text-decoration: none;
		color: #fff;
		font-size: 2rem;
		text-shadow:#ff6010 1px 1px,
					#ff6010 -1px -1px,
					#ff6010 -1px 1px, 
					#ff6010 1px -1px;
		padding-left: 40px;
	} 
	&__social:nth-child(3){
		color: #ff6010;
		text-shadow:none;
	}
}
.contact::before{
	content: '';
	background-color: #fff;
	width: 30px;
	height: 100%;
	position: absolute;
	left: -30px;
}
.contact::after{
	content: '';
	background-color: #fff;
	width: 30px;
	height: 100%;
	position: absolute;
	right: -30px;
}
/* ------------------Percent------------------ */
.percent{
	display: block;
	background-image: url('../img/car-bcg-2.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 100%;
	box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.4);
	padding-top: 100px;
	padding-bottom: 100px;
	&__box{
		display: flex;
		justify-content: space-between;
	}
	&__item{
		color: #fff;
		font-size: 9.4rem;
		text-align: center;
	}
	&__discount{
		font-family: $u-m;
		font-weight: 900;
		&--span{
			font-family: $u-l;
			font-weight: normal;
		}
	}
	&__input{
		font-family: $u-l;
		font-size: 1.7rem;
		text-transform: capitalize;
	}
}
/* ------------------Title-content------------------ */
.title-content{
	
	&__title{
		color: $black;
		font-family: $r-m;
		font-size: 2rem;
		text-transform: uppercase;
		&--center{
			text-align: center;
		}
	}
	&__borders{
		color: $orange;
		width: 100px;
		height: 2px;
		border-top: 2px solid $orange;
		border-bottom: 2px solid $orange;
		margin-top: 6px;
		margin-bottom: 19px;
		&--center{
			display: flex;
			justify-content: center;
			margin-top: 17px-6px;
		}
	}
	&__text{
		color: $black;
		font-family: $r-t;
		font-size: 1.4rem;
	}
}

/* ---------------------Save--------------------- */
.save{
	padding-bottom: 25px;
	&__box{
		display: flex;
		justify-content: space-between;
		&--left{
			flex-basis: 70%;
			padding-top: 25px;
		}
	}
	&__text{
		font-family: $r-t;
		font-size: 1.4rem;
		padding-top: 30px;
	}
	/* Left part */
	&__content{
		display: flex;
		justify-content: space-around;
		padding-top: 55px;
	}
	&__item{
		display: flex;
		flex-direction: column;
		flex-basis: 30%;
	}
	&__icon-box{
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: $orange;
		border-radius: 50%;
		height: 66px;
		width: 66px;
	}
	&__icon{
		font-size: 3rem;
		color: #fff;
	}
	&__paragraph{
		font-family: $r-r;
		font-size: 2rem;
		color: $black;
		text-transform: capitalize;
		padding-top: 26px;
	}
	&__input{
		font-family: $r-t;
		font-size: 1.4rem;
		color: $black;
		padding-top: 18px;
	}
	/* Form, right part */
	&__img{
		position: absolute;
		right: -115px;
		top: -35px;
	}
	&__form{
		display: flex;
		flex-direction: column;
		align-items: center;
		flex-wrap: wrap;
		width: 312px;
		position: relative;
		flex-shrink: 0;
		box-sizing: border-box;
		&--box{
			display: flex;
			flex-direction: column;
			align-items: center;
			background-color: $orange;
			width: 100%;
		}
	}
	&__form-title{
		font-family: $r-b;
		font-size: 2rem;
		color: #fff;
		background-color: $orange;
		text-transform: uppercase;
		padding-top: 24px;
		padding-bottom: 18px;
	}
	&__form-text{
		font-family: $r-t;
		font-size: 1.5rem;
		color: #fff;
		background-color: $orange;
		text-transform: capitalize;
		padding-bottom: 28px;
	}
	&__form-arrow{
		width: 0;
		border: 156.8px solid transparent;
		border-top: 44px solid $orange;
		background-color: #fff;
		position: absolute;
		top: 112px;
		z-index: -1;
	}
	&__form-data{
		font-family: $u-l;
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
	}
	&__form-input{
		font-family: $u-l;
		font-size: 1.2rem;
		color: $black;
		border: 2px solid #d7d7d7;
		border-radius: 4px;
		text-transform: uppercase;
		outline: none;
		box-sizing: border-box;
		padding: 10px 0 10px 30px;
		width: 80%;
		margin-bottom: 25px;
	}
	&__form-input:nth-child(2){
		margin-top: 130px;
		margin-bottom: 32px;
	}
	&__form-button{
		font-family: $u-l;
		font-size: 1.47rem;
		color: #fff;
		background-color: $orange;
		text-transform: uppercase;
		outline: none;
		width: 100%;
		border:none;
		box-sizing: border-box;
		padding: 16px 0;
		cursor: pointer;
	}
}
/* ---------------------Service--------------------- */
.service{
	background-color: #ebebeb;
	padding-top: 22px;
	padding-bottom: 56px;
	&__content{
		display: flex;
		justify-content: space-between;
		padding-top: 60px;
	}
	&__item{
		flex-basis: 29%;
		background-color: #fff;
		box-shadow: 0 2px 5px #acadaf;
		padding-bottom: 36px;
	}
	&__img{
		display: flex;
		justify-content: center;
	}
	&__title{
		font-family: $r-m;
		font-size: 1.8rem;
		color: $black;
		text-transform: uppercase;
		border-left: 2px solid $orange;
		box-sizing: border-box;
		padding: 5px;
		margin-bottom: 35px;
		&--box{
			margin-left: 5%;
			margin-top: 3%;
		}
	}
	&__input{
		font-family: $r-l;
		font-size: 1.4rem;
		color: $gray;
		margin-bottom: 40px;
		&--box{
			margin: 0 3% 0 7%;
		}
	}
	&__link{
		display: flex;
		font-family: $r-l;
		font-size: 1.2rem;
		color: #fff;
		text-transform: uppercase;
		background-color: $orange;
		box-sizing: border-box;
		border-radius: 3px;
		padding: 17px 63px 17px 68px;
		text-decoration: none;
		&--box{
			display: flex;
			justify-content: flex-end;
			margin-right: 3%;
		}
	}
}
/* -------------------Answers------------------- */
.answers{
	padding-top: 30px;
	padding-bottom: 50px;
	position: relative;
	&::before{
		@extend %bcg-base;
		background-image: url('../img/car-bcg-3-orange.png');
		box-shadow: inset 0 0 0 2000px rgba(255, 121, 54, 0.705);
		left: 0%;
	}
	&::after{
		@extend %bcg-base;
		background-image: url('../img/car-bcg-4-white.png');
		box-shadow: inset 0 0 0 2000px rgba(184, 184, 184, 0.7);
		right: 0%;
	}
	.container{
		display: flex;
		justify-content: center;
	}
	&__box{
	display: flex;
	flex-basis: 80%;
	align-items: flex-end;
		&--right{
		padding-left: 15%;
		}
	}
	&__left{
		&-box{
			width: 85%;
			display: flex;
			flex-direction: column;
			align-items: flex-end;
		}
		&-title{
			font-family: $r-m;
			font-size: 2rem;
			color: #fff;
			text-transform: uppercase;
			padding: 40px 0;
			/* margin-right: 25%; */
		}
		&-content{
			width: 70%;
		}
		&-item{
			display: flex;
			justify-content: space-between;
			align-items: center;
			box-sizing: border-box;
			background-color: #fff;
			margin-bottom: 27px;
			padding: 0 8px 0 12px;
			&:nth-child(4){
				margin-bottom: 0;
			}
		}
		&-question{
			font-family: $r-r;
			font-size: 1.8rem;
			color: $black;
		}
		&-plus{
			font-family: $r-r;
			font-size: 3.1rem;
			color: $black;
			text-decoration: none;
		}
	}
	&__right{
		&-box{
			display: flex;
			flex-basis: 40%;
			padding-top: 20px;
			padding-bottom: 37px;
			background-color: rgba(255, 255, 255, 0.6);
		}
		&-content{
			width: 60%;
			padding-left: 5%;
		}
		&-title{
			@extend .answers__left-question;
			padding-bottom: 19px;
		}
		&-text{
			font-family: $r-r;
			font-size: 1.3rem;
			color: $black;
			padding-bottom: 44px;
			width: 89%;
		}
		&-link{
			@extend .service__link;
			padding: 16px 40px;
			display: inline-flex;
			text-align: center;
		}
	}
}
/* -------------------Check------------------- */
.check{
	margin-top: 30px;
	margin-bottom: 30px;
	&__box{
		margin-top: 56px;
		border: #ff8447 3px solid;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		padding-bottom: 90px;
		position: relative;
		margin-right: 100px;
		margin-left: 100px;
		z-index: -2;
		&:after{
			content: '';
			display: block;
			background-image: url('../img/auto-center.png');
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;
			position: absolute;
			top: -40px;
			bottom: 0;
			right: 0;
			left: 0;
			z-index: -1;
		}
	}
	&__item{
		flex-basis: 33.34%;
		&:nth-child(1){
			margin-top: 40px;
			margin-bottom: 14%;
		}
		&:nth-child(2){
			margin-top: 40px;
			margin-bottom: 14%;
		}
	}
	&__title{
		font-family: $r-m;
		font-size: 2rem;
		text-transform: uppercase;
		/* white-space: nowrap; */   /* не даёт тексту перейти на новую строку */
		&--box{
			&-left{
				border-left: 2px solid $orange;
				box-sizing: border-box;
				padding-left: 1%;
				padding-bottom: 1.5%;
				margin-left: 17%;
			}
			&-right{
				text-align: right;
				border-right: 2px solid $orange;
				box-sizing: border-box;
				padding-right: 1%;
				padding-bottom: 1.5%;
				margin-right: 17%;
			}
		}
	}
	&__input{
		margin-top: 16px;
		font-family: $r-l;
		font-size: 1.4rem;
		&--box{
			width: 69%;
			&-left{
				margin-left: 17%;
			}
			&-right{
				margin-right: 17%;
				padding-left: 11%;
			}
			
		}
	}
}
/* -------------------Order------------------- */
.order{
	@extend .percent;
	padding-top: 46px;
	padding-bottom: 57px;
	&__content{
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	&__title{
		font-family: $r-r;
		font-size: 4.5rem;
		color: #fff;
		text-transform: uppercase;
		text-align: center;
		padding-bottom: 30px;
	}
	&__text{
		@extend .order__title;
		font-size: 1.4rem;
		text-transform: none;
		width: 49%;
		padding-bottom: 39px;
	}
	&__clock{
		&--full{
			display: block;
		}
		&--adaptive{
			display: none;
		}
		&--adaptive--320{
			display: none;
		}
	}
	&__form{
		display: flex;
		justify-content: center;
		margin-top: 55px;
		&-input{
			box-sizing: border-box;
			color: $gray;
			font-family: $r-l;
			font-size: 1.2rem;
			text-transform: uppercase;
			padding: 14px 0px 14px 20px;
			border-radius: 3px;
			width: 337px;
			outline: none;
			border: none;
			&:nth-child(4){
				margin-right: 42px;
				margin-left: 42px;
			}
		}
		&-button{
			box-sizing: border-box;
			color: #fff;
			background-color: $orange;
			padding: 13.4px 97px;
			text-transform: uppercase;
			border-radius: 3px;
			outline: none;
			border: none;
			cursor: pointer;
		}
	}
}
#timer-text-e2064b1707bfb07cd12565fff709da0b{
	&-secundes, &-minutes, &-hours, &-days{
		text-transform: uppercase;
	}
}
#timer-text-9e2b6edf6c588fb96d1af8d09e834443{
	&-secundes, &-minutes, &-hours, &-days{
		text-transform: uppercase;
	}
}
/* -------------------Testimonials------------------- */
.testimonials{
	padding-top: 50px;
	padding-bottom: 50px;
	&__slick{
		display: flex;
		justify-content: center;
		margin: 0 auto;
		margin-top: 11px;
		&-img{

			border-radius: 50%;
			border: 6px solid $orange;
			&--center{
				display: flex;
				justify-content: center;
			}
		}
		&-icon{
			display: flex;
			justify-content: center;
			font-size: 4rem;
			color: $orange;
			margin-top: 10px;
			margin-bottom: 10px;
		}
		&-input{
			font-family: $r-l;
			font-size: 1.5rem;
			color: $gray;
			width: 50%;
			&--center{
				text-align: center;
				display: flex;
				justify-content: center;
			}
		}
		&-name{
			display: flex;
			justify-content: center;
			font-family: $r-r;
			font-size: 1.8rem;
			color: $orange;
			text-transform: uppercase;
			margin-top: 28px;
		}
	}
}
/* -------------------Footer------------------- */
.footer{
	padding-top: 40px;
	padding-bottom: 50px;
	color: #fff;
	background-color: #313131;
	&__title{
		font-family: $u-m;
		font-size: 2.4rem;
		text-transform: uppercase;
		padding-bottom: 26px;
	}
	&__input{
		font-family: $u-l;
		font-size: 1.2rem;
	}
}
/* -------------------Adaptive------------------- */
@media screen and (max-width: 1494px){
	.contact{
		&::after{
			content: none;
		}
		&::before{
			content:none;
		}
		&__box{
			&--left{
				display: flex;
    			flex-direction: column;
				line-height: 23px;
				padding-left: 30px;
			}
		}
	}
	.save{
		&__form{
			margin-right: 10%;
		}
	}
}
@media (max-width: 1245px){
	.service{
		&__content{
			flex-wrap: wrap;
			justify-content: center;
		}
		&__item{
			flex-basis: 51%;
			margin-bottom: 30px;
			&:last-child{
				margin-bottom: 0;
			}
		}
		&__img{
			padding-top: 30px;
		}
	}
}
@media (max-width: 1000px){
	.check{
		&__box{
			&::after{
				background-size: 90%;
			}
		}
	}
	.percent{
		&__box{
			flex-wrap: wrap;
			justify-content: space-around;
		}
		&__item{
			flex-basis: 40%;
			&:nth-child(1){
				margin-bottom: 30px;
			}
		}
	}
	.save{
		&__box{
			flex-wrap: wrap;
			&--left{
				flex-basis: 100%;
			}
		}
		&__form{
			margin: 0 auto;
			margin-top: 80px;
		}
	}
	.answers{
		&::before{
			width: 100%;
		}
		&::after{
			display: none;
		}
		.container{
			flex-wrap: wrap;
		}
		&__box{
			flex-basis: 100%;
			&--right{
				padding-left: 10%;
				padding-right: 10%;
			}
		}
		&__left{
			&-box{
				width: 100%;
				align-items: center;
				margin-bottom: 40px;
			}
			&-title{
				margin-right: 0;
			}
		}
		&__right{
			&-text{
				width: 130%;
			}
		}
	}
	.order{
		&__clock{
			&--full{
				display: none;
			}
			&--adaptive{
				display: block;
			}
		}
	}
}
@media (max-width: 789px){
	.header{
		&__auto-expert{
			top: 54px;
			left: 3%;
			padding: 25px 38px;
		}
		&__content{
			width: auto;
		}
	}
	.contact{
		height: 80px;
		padding-right: 0;
		flex-wrap: wrap;
		justify-content: center;
		flex-direction: column;
		box-sizing: border-box;
		padding-left: 37%;
		&__data{
			margin-right: 0;
		}
		&__box{
			&--left{
				padding-left: 0;
			}
			&--right{
				margin-top: 7px;
			}
		}
		&__social{
			&:first-child{
				padding-left: 0;
			}
		}
	}
	.percent{
		&__item{
			flex-basis: 100%;
			margin-bottom: 30px;
		}
	}
	.save{
		&__content{
			flex-wrap: wrap;
		}
		&__input{
			text-align: center;
		}
		&__item{
			flex-basis: 100%;
			align-items: center;
			margin-bottom: 20px;
		}
		&__form{
			margin: 0;
			margin-top: 80px;
		}
	}
	.service{
		&__item{
			flex-basis: 100%;
		}
	}
	.answers{
		&__left{
			&-content{
				width: 100%;
			}
		}
		&__box{
			&--right{
				padding-left: 0;
				padding-right: 0;
			}
		}
	}
	.check{
		&__box{
			margin-right: 0;
			margin-left: 0;
			padding-bottom: 0;
			z-index: 1;
			&::after{
				content:none;
			}
		}
		&__item{
			flex-basis: 100%;
			margin-top: 40px;
			margin-bottom: 14%;
		}
		&__input{
			&--box{
				&-left{
					padding-right: 11%;
				}
				&-right{
					padding-left: 17%;
				}
			}
		}
	}
	.order{
		&__text{
			width: auto;
		}
		&__form{
			flex-direction: column;
			&-input{
				width: auto;
				margin-bottom: 20px;
				&:nth-child(4){
					margin-right: 0;
					margin-left: 0;
				}
			}
		}
	}
}
@media (max-width: 480px){
	.save__img{
		display: none;
	}
}
@media (max-width: 420px){
	.header{
		&__auto-expert{
			display: none;
		}
		&__title{
			font-size: 3.8rem;
		}
	}
	.contact{
		padding-left: 0;
	}
	.save{
		&__form{
			width: 285px;
			&-arrow{
				border: 142.8px solid transparent;
    			border-top: 44px solid #ff5500;
			}
		}
	}
	.service__img{
		padding-top: 0;
		&--adapt{
			max-width: 100%;
		} 
	}
	.order{
		&__clock{
			&--adaptive{
				display: none;
			}
			&--adaptive--320{
				display: block;
			}
		}
	}
}